<div id="main" class="site-main">
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">    
      <div id="content" class="page-content site-content single-post" role="main">
        <!-- Home Page Top Part -->
        <div class="row">
          <div class=" col-xs-12 col-sm-12">
            <div class="home-content">
              <div class="row flex-v-align">
                
                <div class="col-sm-12 col-md-5 col-lg-5">
                  <div class="home-photo">
                    <div class="hp-inner" style="background-image: url(assets/img/IMG_1429.jpg);">
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-7 col-lg-7">
                  <div class="home-text hp-left">
                    <div>
                      <div class="item">
                        <h4>Full Stack Developer</h4>
                      </div>
                    </div>
                      
                    <h1>Aaron Welch</h1>
                    <p>Over 5 years of working experience as PHP/Full Stack Developer using PHP, AngularJS, Node.js and other technologies.</p>
                         
                    <div class="home-buttons">
                      <a href="img\aaron_welch_resume.pdf" class="btn btn-primary">Resume PDF</a>
                      <a href="contact.html" target="_self" class="btn btn-secondary">Contact</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Home Page Top Part -->

        <!-- Services -->
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="p-50"></div>

            <div class="block-title">
              <h2>What I Do</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="info-list-w-icon">
              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="far fa-window-maximize"></i>
                </div>

                <div class="ci-text">
                  <h4>Front-End Technologies</h4>
                  <hr style="border-color: white">
                  <div class="row row-cols-md-2">
                    <div class="col text-nowrap">
                      <p>HTML5</p>
                      <p>CSS3</p>
                      <p>JavaScript</p>
                    </div>
                    <div class="col">
                        <p>AngularJS</p>
                      <p>jQuery</p>
                    </div>
                  </div>
                  <!--<ul>-->
                  <!--  <li>HTML5</li>-->
                  <!--  <li>CSS3</li>-->
                  <!--  <li>JavaScript</li>-->
                  <!--  <li>AngularJS</li>-->
                  <!--  <li>jQuery</li>-->
                  <!--</ul>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="info-list-w-icon">

              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="linecons linecons-shop"></i>
                </div>

                <div class="ci-text">
                  <h4>Back-End Technologies</h4>
                  <ul>
                    <li>Node.js</li>
                    <li>Express.js</li>
                    <li>PHP</li>
                    <li>Symfony</li>
                    <li>MsSQL</li>
                    <li>MongoDB</li>
                  </ul>
                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- /Services -->

        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="p-20"></div>



            <div class="p-40"></div>



            <div class="p-40"></div>

          </div>
        </div>

        <!-- Fun Facts -->

        <!-- /Fun Facts -->

        <div class="p-40"></div>



      </div>
    </div>
  </div>
</div>
