<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card" style="margin-bottom: 20px;">
      <img src="assets/img/vallen.png" class="card-img-top" style="height: 185px; object-fit: cover; object-position: 50% 0">
      <div class="card-body">
        <h5 style="color: grey;">Vallen.com</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p style="color: grey;">Technologies:</p>
        <div class="row" style="padding-top: 0 !important">
          <div class="col">
            <ul style="margin-top: 0; margin-bottom: 0">
              <li>AngularJS</li>
              <li>Bootstrap</li>
              <li>Symfony</li>
            </ul>
          </div>
          <div class="col">
             <ul style="margin-top: 0; margin-bottom: 0">
              <li>SQL</li>
              <li>MongoDB</li>
              <li>PHP</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="margin-bottom: 20px;">
      <img src="assets/img/nautiboat.png" class="card-img-top" style="height: 185px; object-fit: cover; object-position: 50% 0">
      <div class="card-body">
        <h5 style="color: grey;">theNautiBoat.com</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p style="color: grey;">Technologies:</p>
        <div class="row" style="padding-top: 0 !important">
          <div class="col">
            <ul style="margin-top: 0; margin-bottom: 0">
              <li>Angular</li>
              <li>NodeJs</li>
              <li>SASS</li>
            </ul>
          </div>
          <div class="col">
             <ul style="margin-top: 0; margin-bottom: 0">
              <li>Express</li>
              <li>MongoDB</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="margin-bottom: 20px;">
      <img src="assets/img/vallen.png" class="card-img-top" style="height: 185px; object-fit: cover; object-position: 50% 0">
      <div class="card-body">
        <h5 style="color: grey;">Vallen.com</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p style="color: grey;">Technologies:</p>
        <div class="row" style="padding-top: 0 !important">
          <div class="col">
            <ul style="margin-top: 0; margin-bottom: 0">
              <li>AngularJS</li>
              <li>Bootstrap</li>
            </ul>
          </div>
          <div class="col">
             <ul style="margin-top: 0; margin-bottom: 0">
              <li>SQL</li>
              <li>MongoDB</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="margin-bottom: 20px;">
      <img src="assets/img/vallen.png" class="card-img-top" style="height: 185px; object-fit: cover; object-position: 50% 0">
      <div class="card-body">
        <h5 style="color: grey;">Vallen.com</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p style="color: grey;">Technologies:</p>
        <div class="row" style="padding-top: 0 !important">
          <div class="col">
            <ul style="margin-top: 0; margin-bottom: 0">
              <li>AngularJS</li>
              <li>Bootstrap</li>
            </ul>
          </div>
          <div class="col">
             <ul style="margin-top: 0; margin-bottom: 0">
              <li>SQL</li>
              <li>MongoDB</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
