<header id="site_header" class="header">
  <div class="header-content clearfix">
    <div class="text-logo">
      <a href="index.html">
        <div class="logo-symbol">
          <i class="fas fa-code" style="margin: 0;position: absolute;top: 50%;left: 53%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);"></i>
        </div>
        <div class="logo-text">Aaron <span>Welch</span></div>
      </a>
    </div>

    <div class="site-nav mobile-menu-hide">
      <ul class="leven-classic-menu site-main-menu">
        <li class="menu-item toggleMenu">
          <a href="index.html">About Me</a>
        </li>
        <li class="menu-item toggleMenu">
          <a routerLink="/resume">Resume</a>
        </li>
        <li class="menu-item toggleMenu">
          <a routerLink="/apps">Apps</a>
        </li>
        <li class="menu-item toggleMenu">
          <a routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>

    <a class="menu-toggle mobile-visible">
      <i class="fa fa-bars"></i>
    </a>

  </div>
</header>
